.error-type{
    font-size: 288px;
    font-weight: 700;
    line-height: 410.69px;
    text-align: center;
    color: #FF6060;
    margin: inherit;
}

.error-text{
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: center;
    color: #FF6060;
}

.back-home{
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    margin: 100px 0;
    text-align: center;
    text-decoration: underline;
    color: #000000;
}