.footer {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 1440px;
    height: 209px;
}

.logo{
    width: 122px;
    height: 39.44px;
}

.copyright{
    color: #fff;
}