.carrousel-slide{
    display: flex;
    position: relative;
    width: 1240px;
    height: 415px;
   /*overflow: hidden;
    border-radius: 25px;*/
}

.list-images {
    position: relative; 
    list-style: none;
    padding: inherit;
}

.list-images .list-carrousel {
    position: absolute; 
}

figure{
    margin: inherit;
}

.accomodation-picture{
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.footer-number{
    position: absolute;
    font-size: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: center;
    bottom: 5px; 
    width: 24px;
    height: 32.4px;
    top: 357.67px;
    left: 607px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.50); /* Contour noir */
    margin: inherit;
}
.slide-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-image{
    z-index: 3;
    border: none;
    background: none;
}

.arrow{
    width: 46.68px;
    height: 79.2px;
    margin: 0px 25px;
    object-fit: fill;
    cursor: pointer;
}