.information-section{
    margin: 50px 0;
}

.accommodation-owner-conteiner{
    display: flex;
    justify-content: space-between;
}

.presentation{
    height: 77px;
}

.presentation > h1{
    margin: inherit;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    color: #FF6060;
}

.presentation > p{
    margin: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: #000000;

}

.host-conteiner{
    display: flex;
    align-items: center;
    gap: 20px;
}

.host-conteiner > h2{
    width: 78px;
    height: auto;
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;

}

.host-conteiner > img{
    border-radius: 50%;
    width: 64px;
    height: 64px;

}
 

.tag-rate-conteiner{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.tag-list{
    width: auto;
    height: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: inherit;
    margin: 0;
}

.tag{
    width: auto;
    height: 15px;
    border-radius: 10px;
    background: #FF6060;
    margin: inherit;
    padding: 5px 10px;
    display: flex; 
    align-items: center;
}

.tag-name{
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.96px;

}

.rating{
    display: flex;
    gap: 15px;
    align-items: center;
}

.collapse{
    padding: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.collapse-fiche{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    width: 547px;
    height: 32px;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
}

.collapse-text{
    width: 547px;
    position: relative;
    height: auto;
    background: rgba(246, 246, 246, 0.4509803922);
    padding: 10px 15px 20px 20px;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    animation: apparition-text 0.2s ease-in-out;
    z-index: -1;
}

.collapse-text > ul {
    list-style: none;
    padding: 0;
}